.btn {
  background-color: #877eed;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  padding: 12px 16px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #544acb;
}
