.text-input {
  width: 360px;
  max-width: 100%;
  padding: 12px 16px;
  color: #eaeaea;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  border-radius: 24px;
  border: 1px solid #eaeaea;
  background-color: transparent;
  text-align: center;
}

.text-input::placeholder {
  color: #eaeaea;
}
