.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  gap: 24px;
}

.empty-state p {
  color: #eaeaea;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  text-align: center;
}
